@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 282px);
  /* grid-auto-flow: rows; */
  grid-gap: 20px 17px;
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  object-fit: contain;
  transition: transform 0.2s linear;
}

.card__image {
  margin: 0;
  padding: 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 25px 0 25px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__caption {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  background: transparent url(../images/button-heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 6px 0 5px 28px;
  margin-right: 20px;
  /* margin-left: 28px; */
  transition: background-color 0.2s linear, transform 0.2s linear,
    cursor 0.2s linear, background 0.2s linear, filter 0.2s linear;
}

.card:hover {
  transform: scale(1.05);
}

.card__button:hover {
  background: transparent url(../images/button-heart-hover.svg) center no-repeat;
  transform: scale(1.1);
  cursor: pointer;
  filter: hue-rotate(90deg);
}

.card__button:focus {
  animation: bounce 0.3s linear;
}
