.header {
  display: flex;
  align-self: start;
  max-width: 880px;
  height: 74px;
  margin: 0 auto 40px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  max-width: 173px;
  height: 33px;
}

@media all and (max-width: 917px) {
  .header {
    max-width: 581px;
  }
}

@media all and (max-width: 618px) {
  .header {
    max-width: 282px;
  }

  .header__logo {
    max-width: 148px;
    height: 28px;
  }
}

@media all and (max-width: 320px) {
  .header {
    width: 100%;
    margin: 0;
    padding: 28px 0 0;
    height: 56px;
  }

  .header__logo {
    max-width: 126px;
    height: 24px;
    margin-left: 26px;
  }
}
