.page {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

@media all and (max-width: 924px) {
  .page {
    padding: 0 19px;
    max-width: calc(100% - 19px);
  }
}

@media all and (max-width: 320px) {
  .page {
    padding: 0;
    min-width: 320px;
  }
}
