@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  object-fit: contain;
  transition: transform 0.2s linear;
  position: relative;
}

.card__image {
  margin: 0;
  padding: 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 25px 0 25px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__caption {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.card__button {
  background: transparent url(../images/button-heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 6px 0 5px 28px;
  margin-right: 20px;
  /* margin-left: 28px; */
  transition: background-color 0.2s linear, transform 0.2s linear,
    cursor 0.2s linear, opacity 0.2s linear, filter 0.2s linear;
}

.card__delete-button {
  background: transparent url(../images/button-trash.svg) center no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: background-image 0.2s linear;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.card__like-button_active {
  background-image: url(../images/button-heart-active.svg);
}

.card:hover {
  transform: scale(1.05);
}

.card__button:hover {
  opacity: 0.5;
  transform: scale(1.1);
  cursor: pointer;
  filter: hue-rotate(90deg);
}

.card__button:focus {
  animation: bounce 0.3s linear;
}

.card__delete-button:hover {
  cursor: pointer;
  background-image: url(../images/button-trash-hover.svg);
}
