.cards__list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 282px);
  /* grid-auto-flow: rows; */
  grid-gap: 20px 17px;
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
}
