.footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #545454;
  max-width: 880px;
  margin: 67px auto 0;
  padding-bottom: 60px;
}

.footer__text {
  margin: 0;
}

@media all and (max-width: 320px) {
  .footer {
    margin: 48px 0 0;
    padding: 0 19px 36px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 1.21;
  }
}
