.page {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media all and (max-width: 924px) {
  .page {
    padding: 0 19px;
    max-width: calc(100% - 19px);
  }
}

@media all and (max-width: 320px) {
  .page {
    padding: 0;
    min-width: 320px;
  }
}
