@keyframes bounce {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.profile {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
  width: 100%;
  margin: 0 auto 51px;
  position: relative;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 24px;
  object-fit: cover;
  background-position: center;
  margin: 0;
  /* z-index: -1; */
}

.profile__avatar-overlay {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0) url(../images/button-edit.svg) center no-repeat;
  /* background-size: 50%; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.profile__button_type_avatar {
  position: relative;
  border: none;
  padding: 0;
  background: none;
}

.profile__button_type_avatar:hover .profile__avatar-overlay {
  background: rgba(0, 0, 0, 0.8) url(../images/button-edit.svg) center no-repeat;
  opacity: 1;
  pointer-events: auto;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.profile__name {
  grid-area: title;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.profile__button {
  transition: transform 0.3s linear;
}

.profile__button_type_edit {
  grid-area: button;
  margin: 15px 0 9px 18px;
  background: transparent url(../images/button-edit.svg) center no-repeat;
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  transition: background 0.2s linear;
}

.profile__description {
  grid-area: description;
  margin: 0;
  max-width: 373px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button_type_add {
  background: transparent url(../images/button-add.svg) center no-repeat;
  width: 17.04%;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 1px;
  margin: 13px 0 14px 18.75%;
  z-index: 0;
  transition: background 0.2s linear;
}

.profile__button:focus {
  animation: bounce 0.4s linear;
}

.profile__button_type_add:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__button_type_edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media all and (max-width: 917px) {
  .profile {
    max-width: 581px;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
  }

  .profile__info {
    margin: 30px 0 36px;
    text-align: center;
    align-items: baseline;
    position: relative;
  }

  .profile__name {
    font-size: 35px;
    line-height: 1.21;
    margin: 0 0 14px;
  }

  .profile__button {
    margin: 0;
    padding: 0;
  }

  .profile__description {
    font-size: 16px;
  }

  .profile__button_type_edit {
    width: 21px;
    height: 21px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 12px;
    right: 0px;
  }

  .profile__button_type_add {
    width: 150px;
    height: 50px;
  }
}

@media all and (max-width: 618px) {
  .profile {
    padding: 0 19px;
    margin: 42px auto 36px;
    max-width: 282px;
  }

  .profile__name {
    font-size: 24px;
  }

  .profile__button_type_edit {
    top: 6px;
    right: -15px;
  }
}

@media all and (max-width: 320px) {
  .profile {
    min-height: 286px;
  }

  .profile__image {
    width: 120px;
    height: 120px;
    margin: 0;
  }

  .profile__info {
    width: 100%;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__button_type_edit {
    width: 18px;
    height: 18px;
    top: 4px;
    right: 0px;
  }

  .profile__description {
    font-size: 14px;
    margin: 0;
  }

  .profile__button_type_add {
    width: 282px;
    height: 50px;
  }
}
